# Python virtual environments
venv/
.venv/

# Python cache files and logs
__pycache__/
*.pyc
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDE and editor folders
.vscode/
.idea/

# Generated data files (good practice to not track them)
**/data/
cleaned_books_data.csv

# OS-specific files
.DS_Store


# Ignore large data files for this project
04-kaggle/train.csv
04-kaggle/test.csv
04-kaggle/*.zip

# General Python/Notebook files to ignore
__pycache__/
*.pyc
.ipynb_checkpoints/

# Virtual environment for the numpy-scratch project
05-deep-learning-core/01-nn-numpy-scratch/venv_scratch/

# Model weights and submission files
*.pth
*.csv